.video-controls {
  display: flex;
  justify-content: center;
}

.next-range-btn {
  border: 0;
  border-radius: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.next-range-btn:hover {
  background: #e8e8e8;
}

.seek-wrapper {
  position: relative;
  width: 100%;
}

.seek-ranges-wrapper {
  position: absolute;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.seek-ranges-inner {
  position: absolute;
  width: 100%;
  height: 10px;
  top: calc(50% - 5px);
}

.seek-range {
  background-color: #ccc;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.seek-bar-wrapper {
  display: flex;
  height: 30px;
  justify-content: center;
}

.seek-bar {
  width: 100%;
  position: relative;
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.seek-bar:focus {
  outline: none;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 24px;
  width: 1px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -6px;
}

.seek-bar::-webkit-slider-thumb::before {
  content: "";
  display: block;
  width: 24px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0)
}

.seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: 0.2px solid #010101;
}

.seek-bar:focus::-webkit-slider-runnable-track {
  background: transparent;
}
